# This file purpose is only to extend the docker image with the missing packages
# required for POPNAS environment. The dependencies of local environment are better
# handled by poetry and its .toml file.

# versions compatible with python > 3.7 (standard tf docker image)
scikit-learn==1.0.1
pandas==1.1.5
mlxtend==0.18.0
xgboost==1.4.2
matplotlib==3.3.4
eli5==0.11.0
mypy==0.910
tqdm==4.62.0
catboost==1.0.3
pydot==1.4.2
numba==0.53.1
hyperopt==0.2.5
psutil==5.8.0
seaborn==0.11.2
tf2onnx==1.9.3
keras-tuner==1.1.0
tensorflow-addons==0.15.0
tensorflow-probability==0.15.0
tensorflow-datasets==4.5.2
igraph==0.9.8
# see toml file
git+https://github.com/AndreaFalanti/shap#egg=shap